# shellcheck shell=sh
#!/usr/bin/with-contenv sh

timestamp() {
  date -I'seconds' # ISO-8601 format
}

# things to when the backup has failed
notify_admin() {
  echo 'the backup has failed'
}

echo "$(timestamp) - Backup failed"
notify_admin
