--extra-index-url https://modem7.github.io/PyPI/simple

apprise==1.2.0
borgbackup==1.2.2
borgmatic==1.7.4
llfuse==1.4.2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
