name: Docker build CI

on:
  push:
    paths:
      - base-fullbuild/Dockerfile
      - base-fullbuild/requirements.txt
  pull_request:
    paths:
      - base-fullbuild/Dockerfile
      - base-fullbuild/requirements.txt
  workflow_dispatch:

jobs:
   build:
    runs-on: ubuntu-latest
    name: Set up Docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: base-fullbuild/
          file: base-fullbuild/Dockerfile
          pull: false
          push: false
